/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 10px;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilos del contenedor del escáner */
.scanner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.video-preview {
    width: 80%;
    height: auto;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover; /* Asegura que el video se ajuste al contenedor */
}

.button {
    padding: 15px 30px; /* Tamaño reducido */
    margin: 10px;
    font-size: 18px; /* Tamaño reducido */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos del resultado del escaneo */
.result {
    margin: 10px 0;
    font-size: 15px; /* Tamaño reducido */
    color: #333;
}

/* Estilos de la lista de productos */
.product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    padding: 15px; /* Tamaño reducido */
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px; /* Tamaño reducido */
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info p {
    background-color: #007bff;
    color: white;
    padding: 10px 15px; /* Tamaño reducido */
    border-radius: 5px;
    margin: 0;
    font-size: 18px; /* Tamaño reducido */
}

/* Estilo específico para el item "Sugerido" */
.product-info p.sugerido {
    background-color: #ff9800; /* Color naranja para destacar */
}

/* Botón de eliminación */
.delete-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px; /* Tamaño reducido */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Tamaño reducido */
    align-self: stretch; /* Ajusta la altura al contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Estilos para el total de precios sugeridos */
.total-container {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
